{template "content","header"}
<script src={JS_PATH}myjs/gongsigaikuang.js></script>
<link rel="stylesheet" href={CSS_PATH}mycss/xinwenzixun.css>
<div class="banner">
    <a href=""><div class="banner1"><img src="{IMG_PATH}myimgs/banner02.jpg" alt=""></div></a>
    {pc:content action="category" catid="0" num="6" order="listorder ASC" }
    {loop $data $r}
    <div class="banner2">
        <a href="{$r[url]}"><div class="banner11">{$r[catname]}</div></a>
        <div class="shang">
            {pc:content action="category" catid="$r[catid]" num="6" order="listorder ASC" }
            {loop $data $r}
            <a href="{$r[url]}"><div>{$r[catname]}</div></a>
            {/loop}
            {/pc}
        </div>
    </div>
    {/loop}
    {/pc}
</div>
<div class="shen">
    <div class="shen1">
        <div class="shen11">{$CATEGORYS[$top_parentid][catname]}</div>
        <div class="shen12">
            {pc:content action="category" catid="$top_parentid" num="10" order="listorder ASC" }
            {loop $data $r}
            <div class="shen121"><a href="{$r[url]}"><div class="shen122">{$r[catname]}</div></a></div>
            {/loop}
            {/pc}
        </div>
    </div>
    <div class="shen2">
        <div class="shen21">
            <div class="shen211">{$CATEGORYS[$catid][catname]}</div>
            <div class="shen212">
                <div class="shen2121"><a href="">首页</a> &gt; </span>{catpos($catid)}</div>
            </div>
        </div>
        {pc:content action="lists"  catid="$catid" num="6" order="listorder ASC"  page="$page" }
        {loop $data $r}
        <div class="shen22">
            <div class="shen221">
                <a href="{$r[url]}"> <div class="shen2211">{$r[title]}</div></a>
                <div class="shen2212">{date('Y-m-d', $r['inputtime'])}</div>
            </div>
            <div class="shen222">
                {if $r[thumb]}<div class="shen2221"><img src="{thumb($r[thumb])}" alt="{$r[title]}" /></div>
                    {else}
                    {/if}

                {$r[description]}
            </div>
            <a href="{$r[url]}"> <div class="shen223">阅读全文></div></a>
        </div>
        {/loop}

        {/pc}
        <div class="shen23">{$pages}</div>

    </div>
</div>
{template "content","footer"}