<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{CSS_PATH}mycss/shouye.css">
	<script src="{JS_PATH}myjs/function.js"></script>
	<script src="{JS_PATH}myjs/animate.js"></script>
	<script src="{JS_PATH}myjs/shouye.js"></script>
</head>
<body

<div class="heard">
	<a href="#" class="lead">English</a>
	<span>|</span>
	<a href="#" class="lead">中文</a>
	<a href="#" class="lead aLead">&nbsp&nbsp&nbsp&nbsp&nbsp网站导航</a>
	<a href="#" class="lead bLead">&nbsp&nbsp&nbsp&nbsp&nbsp设为首页</a>
</div>
<div class="logo">
	<a href="#" class="logoP"><img src="img/logo.jpg" alt="I
		<input type="text" value="站内搜索" style="border:none;height:18px;width:110px;margin-left:6px;color:#666;font-size:12px;">
		<a href="#" class="glass"><img src="{IMG_PATH}myimage/search.jpg" alt=""></a>
	</div>
	<a href="#" class="list">产品防伪</a>
	<a href="#" class="list">企业邮箱</a>
	<a href="#" class="list">官方微信</a>
	<a href="#" class="list">首页</a>
</div>